$container-width: 680px;
$dark-border: 1px solid #373737;
$dark-white-color: #e8e8e8;
$dark-grey-darkest: #171717;
$dark-grey-dark: #2d2d2d;
$dark-grey-medium: #1e1e1e;
$dark-grey-light: #a0a0a0;
$dark-background: #0b0b0b;
$container-width: 680px;
