@import "variables";

.tools-container {
  width: $container-width;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  z-index: 10;

  .tool {
    height: 144px;
    border: 1px solid;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);

    img {
      width: 80px;
      height: 80px;
    }
  }
}
